@import "tailwindcss";

@theme {
  --color-background: #0e0e0e;
  --color-surface: #0e0e0e;
  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #131313;
  --color-surface-container: #1a1919;
  --color-surface-container-high: #201f1f;
  --color-surface-container-highest: #262626;
  --color-surface-bright: #2c2c2c;
  --color-primary: #bd9dff;
  --color-primary-container: #b28cff;
  --color-primary-dim: #8a4cfc;
  --color-secondary: #c38bf5;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;
  --color-outline: #777575;
  --color-outline-variant: #494847;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    font-family: var(--font-body);
  }
}
