@import "tailwindcss";

/* ChatGPT-like scrollbar */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}